<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionString>
  	<server>localhost</server>
  	<userName>root</userName>
  	<password></password>
  </connectionString>
  <databases>
  	<database>thesenseoffashion</database>
  	<tables>
  		<table name="users" >
  			<insert>INSERT INTO `table`(`name`, `passord`, `group`) VALUES ('val1', 'val2', 'val3')</insert>
  			<update>UPDATE `table` SET `name` = 'val1, `password` = 'val2', `group` = 'val3' WHERE id='idx'</update>
  			<delete>DELETE FROM `content` WHERE id = 'idx'</delete>
  		</table>
  		<table name="pages">
  			<insert>INSERT INTO `table`(`modules`) VALUES ('val1')</insert>
  			<update>UPDATE `table` SET `modules` = 'val1' WHERE id='idx'</update>
  			<delete>DELETE FROM `table` WHERE id = 'idx'</delete>
  		</table>
  		<table name="modules">
  			<insert>INSERT INTO `table`(`name`, `templateId`, `data`) VALUES ('val1','val2','val3')</insert>
  			<update>UPDATE `table` SET `name` = 'val1', `templateId` = 'val2', `data` = 'val3' WHERE id='idx'</update>
  			<delete>DELETE FROM `table` WHERE id = 'idx'</delete>
  		</table>
  	</tables>
  </databases>
</configuration>
