@import url(http://fonts.googleapis.com/css?family=Josefin+Slab:400,700,400italic);
html {
  height: 100%;
}
html,
body {
  margin: 0;
}
body.home-page {
  height: 100%;
}
body.home-page .main,
body.home-page main {
  max-width: none;
  overflow: hidden;
}
.main,
main {
  height: 100%;
  font-family: Consolas;
  max-width: 980px;
  margin: 0 auto;
  overflow: hidden;
}
.edit-icon {
  width: 16px;
  height: 16px;
  cursor: pointer;
  background-color: #BBBBBB;
  outline: white 1px solid;
  content: '+';
}
.edit-icon:hover {
  background-color: #777;
}
header {
  font-family: Consolas;
  color: #000000;
  max-width: 980px;
  margin: 0 auto;
  padding-bottom: 30px;
}
header a {
  display: inline-block;
  width: 50%;
  position: relative;
}
header a:hover img {
  opacity: 1;
}
header a:hover span {
  opacity: 0.6;
}
header span {
  -moz-transition: opacity 1s;
  -o-transition: opacity 1s;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
  margin-top: -30px;
  top: 50%;
  right: 20px;
  color: black;
  position: absolute;
  font-size: 50px;
}
header img {
  -moz-transition: opacity 1s;
  -o-transition: opacity 1s;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
  opacity: 0.6;
  width: 100%;
}
header a + a > span {
  left: 20px;
}
figure {
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
* {
  margin: 0;
}
a {
  color: #667799;
  text-decoration: none;
}
h1 {
  font-size: 104px;
  text-align: center;
  font-weight: 700;
}
h1 + .email {
  display: block;
  text-align: right;
  margin-top: -15px;
  font-size: 18px;
  padding-bottom: 50px;
}
h1 + .email > a {
  color: black;
}
section {
  color: #000000;
}
.login {
  display: none;
  right: 0;
  position: fixed;
  z-index: 9999;
  padding: 30px;
  margin: 30px;
  outline: 1px solid black;
  background: white;
}
.login div {
  padding-bottom: 10px;
}
.login span {
  width: 100px;
  display: inline-block;
}
.login input {
  padding: 4px;
  width: 160px;
  outline: none;
  border-width: 2px;
}
.login input.fail {
  border: 2px solid red;
  -moz-box-shadow: 0 0 3px red;
  -webkit-box-shadow: 0 0 3px red;
  box-shadow: 0 0 3px red;
}
.login a {
  color: black;
  display: block;
  margin: 0 auto;
  max-width: 70px;
  text-align: center;
  padding: 2px;
  cursor: pointer;
  outline: 1px solid;
  margin-top: 12px;
}
.login a:hover {
  background-image: url(../img/login-bg.png);
}
.loading {
  margin: 0 auto;
  display: block;
}
@media screen and (max-width: 1000px) {
  main,
  .main {
    margin: 0 10px;
  }
}
.blogpost {
  border-bottom: solid 1px #666666;
  margin-bottom: 110px;
  padding-bottom: 90px;
}
.blogpost h2 {
  font-family: raleway;
  text-align: center;
  font-weight: 100;
  font-size: 45px;
}
.blogpost article {
  text-align: center;
}
.blogpost span {
  display: block;
  text-align: right;
}
.blogpost article,
.blogpost figure {
  margin-bottom: 15px;
}
.blogpost figure {
  max-width: 100%;
}
.blogpost figure figcaption {
  width: 100%;
  text-align: center;
  font-size: 12px;
}
.blogpost figure img {
  width: 100%;
}
.social-media {
  margin: 0 auto;
  max-width: 164px;
  margin-bottom: -105px;
  padding: 100px 15px 0 15px;
  background-color: white;
}
.social-media > span {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 7px;
  cursor: pointer;
}
.social-media .facebook {
  background-image: url(../img/facebook-icon.jpg);
}
.social-media .facebook:hover {
  background-image: url(../img/facebook-icon-hover.jpg);
}
.social-media .google {
  background-image: url(../img/google-icon.jpg);
}
.social-media .google:hover {
  background-image: url(../img/google-icon-hover.jpg);
}
.social-media .pinterest {
  background-image: url(../img/pinterest-icon.jpg);
}
.social-media .pinterest:hover {
  background-image: url(../img/pinterest-icon-hover.jpg);
}
.social-media .twitter {
  background-image: url(../img/twitter-icon.jpg);
}
.social-media .twitter:hover {
  background-image: url(../img/twitter-icon-hover.jpg);
}
.home {
  position: relative;
  height: 100%;
  display: block;
}
.home a {
  display: block;
}
.home > a {
  position: absolute;
  top: 50%;
  margin-top: -45px;
  width: 100%;
  text-align: center;
}
.home h1 {
  position: relative;
  padding: 0 10px;
  background-color: rgba(255, 255, 255, 0.6);
  outline: solid 1px black;
  color: black;
  font-size: 54px;
  z-index: 2000;
  margin-right: -10px;
  margin-left: -10px;
  display: inline-block;
}
.home div {
  height: 100%;
  width: 50%;
  display: inline-block;
  position: relative;
}
.home div:after {
  content: ' ';
  position: absolute;
  background-color: white;
  width: 10px;
  right: -5px;
  top: 50%;
  margin-top: -45px;
  height: 64px;
  z-index: 200;
}
.home div .image-wrapper {
  width: auto;
  right: 300px;
  height: 300px;
  position: absolute;
  top: 50%;
  margin-top: -150px;
}
.home div .image-wrapper img {
  height: 100%;
  -webkit-filter: blur(2px);
  filter: blur(2px);
}
.home div .image-wrapper span {
  font-size: 20px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}
.home div .image-wrapper:hover span {
  color: black;
}
.home div .image-wrapper:hover img {
  -webkit-filter: blur(0px);
  filter: blur(0px);
}
.home div span {
  position: absolute;
}
.home div + div .image-wrapper {
  left: 300px;
  right: auto;
}
.home div + div:after {
  display: none;
}
.home div + div:before {
  content: ' ';
  position: absolute;
  background-color: black;
  left: -5px;
  width: 10px;
  height: 100%;
}
.home div + div + div:before {
  display: none;
}
@media screen and (max-width: 1000px) {
  .home div .image-wrapper {
    right: 200px;
  }
  .home div + div .image-wrapper {
    left: 200px;
  }
}
@media screen and (max-width: 800px) {
  .home div .image-wrapper {
    right: 100px;
  }
  .home div + div .image-wrapper {
    left: 100px;
  }
}
@media screen and (max-width: 620px) {
  .home h1 {
    font-size: 40px;
  }
  .home div:after {
    height: 47px;
  }
  .home div .image-wrapper {
    right: 50px;
  }
  .home div + div .image-wrapper {
    left: 50px;
  }
}
.about h1 {
  font-family: raleway;
  text-align: center;
  font-weight: 100;
  font-size: 45px;
}
.about p {
  text-align: center;
}
/*# sourceMappingURL=all.css.map */